
.about-page{
	position:relative;
	width:100%;
	height: 100%;

	&.banner-bg{
		width:100%;
		min-height:100%;
		background-image:url("/img/about/about-banner.jpg");
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;

		.banner-content {
			position:relative;
			height:100%;

			.about-container {
				width:100%;
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				padding: 70px 90px;
				background-color:rgba(51,51,51,0.9);
				text-align:left;
			}
		}
	}

	&.section-1{
		width:100%;
	    height:80%;
	    background-image:url("/img/about/about-bg.jpg");
	    background-repeat: no-repeat;
	    background-position: center 55%;
    	background-size: cover;
	}

	&.section-2{
		width:100%;
		height:auto;
		
		.team-grid{
			.team-card{
				position:relative;

				img{width:100%;}

				.team-desc{
					position: absolute;
				    bottom: 0;
				    left: 0;
				    width: 100%;
				    height: 80px;
				    opacity: 0.8;

				    .founder-desc{
				    	flex: 3;
					    padding-left: 20px;
				    }
				    .founder-socials{
				    	height: 100%;
				    	display: flex;
				    	flex:1;				    	
					    align-items: center;
					    justify-content: center;
					    cursor:pointer;
					    transition:all 0.65s ease-in-out;
				    }

				    .founder-socials:hover{background-color:#f7931d;}
				}
			}
		}
	}
}