

.contact-page{
	position:relative;
	width:100%;
	/* height: 100%; */

	&.banner-bg{
		width:100%;
		min-height:70%;
		background-image:url("/img/contact/contact-banner.jpg");
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
	}

    &.section-1{
      width:100%;
      height:auto;

      .contact-grid{
        a{
          display: inline-block;
          text-decoration: none;
          transition:all 0.65s ease-in-out;

          &:hover{color:#f7931d;}
        }
      }

      .form-group{
        input.form-control{
          width: 100%;
          height:50px;
          background-color: #efefef;
          border: 1px solid #efefef;
          margin-bottom: 25px;
          border-radius: 0;
          font-size: 16px;
          color:#000000;
          padding: 15px;
          transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);

          &:focus{
            background-color: #333;
            color: #fff;
            box-shadow: none;
          }
        }

        textarea.form-control{
          width: 100%;
          background-color: #efefef;
          border: 1px solid #efefef;
          border-radius: 0;
          font-size: 16px;
          color:#000000;
          padding: 15px;
          margin-bottom: 25px;
          transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);

          &:focus{
            background-color: #333;
            color: #fff;
            box-shadow: none;
          }
        }
      }
    }
}