
.homepage{
  width: 100%;
  height: 100%;
  position: relative;

  &.banner-section{
    width: 100%;
    height: 100%;
    position: relative;

    .home-nav-menu{
      position: absolute;
      bottom: 0;
      z-index: 15;
      width: 100%;
      height: 75px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      a{
        display: flex;
        align-items: center;
        height: 100%;
        line-height:normal;
        text-decoration:none;
        font: bold 1em/1em "Ubuntu", sans-serif;
        transition:all 0.5s ease-in-out;

        &:hover{ 
          color: #EE8D2E; 
        }
      }
    }

    .bannerSlider{
      width: 100%;
      height: 100%;

      .slide{
        min-height: 100%;
        position: relative;
        color: white;

        .banner-img{
          width:100%;
          min-height:100%;
          background-size: cover;
        }
      }
      #slide-1{
        .banner-img{
          background-image: url("/img/slider/slide_1.jpg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      #slide-2{
        .banner-img{
          background-image: url("/img/slider/slide_2.jpg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      #slide-3{
        .banner-img{
          background-image: url("/img/slider/slide_3.jpg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      #slide-4{
        .banner-img{
          background-image: url("/img/slider/slide_4.jpg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      #slide-5{
        .banner-img{
          background-image: url("/img/slider/slide_5.jpg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .banner-tagline{
        position: absolute;
        width: 100%;
        top: 50%;
        padding: 50px 150px;
        transform:translateY(-165px);

        @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 50px;}

        @media only screen and (max-width: 40em)  {
          padding: 20px;
          bottom: 25%;
        }

        h2{
          font: bold 4.375em/1em "Ubuntu", sans-serif;
          color: #fff;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {font: bold 2.375em/1em "Ubuntu", sans-serif;}
          @media only screen and (max-width: 40em)  { font: bold 2.375em/0.875em "Ubuntu", sans-serif;}
        }
        h5{
          font: bold 1.875em/1em 'Ubuntu', sans-serif;
          color: #fff;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {font: bold 1.5em/1em "Ubuntu", sans-serif;}
          @media only screen and (max-width: 40em)  {
            font: bold 0.975em/1em "Ubuntu", sans-serif;
            margin: 15px 0;
          }
        }
      }

      .slick-list, .slick-track {
        height: 100%;
      }

      .slick-slide {
        border: none !important;
      }
    }
  }

  &.section-1{
    width:100%;
    height:80%;
    background-image:url("/img/home/home-rose6969.jpg");
    background-repeat: no-repeat;
    background-position-x: 150%;

    @media (min-width: 320px) and (max-width: 640px) {
      min-height:70%;
      background-position-x: -10%;      
    }
  }

  &.section-2{
    width:100%;
    height:auto;
    position:relative;

    .product-grid{

      .product{
        display:inline-block;

        .product-img{
          position:relative;
          img{width:100%;}

          &:hover{
            .overlay{opacity:0.5;}
          }
        }

        .product-desc{
          display: flex;
          align-items: center;

          h4{ 
            flex: 5;
            padding: 25px 20px;

            @media (min-width: 320px) and (max-width: 640px){
              flex: 4;      
            }
          }
          .cost{ 
            flex:1;

            @media (min-width: 320px) and (max-width: 640px){
              flex: 2;      
            }
          }
        }
      }
    }
  }

  &.section-3{
    width:100%;
    min-height:100%;
    background-image:url("/img/home/sec-3.jpg");
    background-repeat:no-repeat;
    background-position:center;

    @media (min-width: 320px) and (max-width: 640px) {
      min-height:70%;
      background-position-x: 57%;      
    }
  }

}