
html, body {
  height: 100%;
  min-width:100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  color: #414141;
  background-color: #fff;
  overflow-x:hidden;
  overflow-y:visible;
}

section {
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
}

h1,h2,h3,h4,h5,h6{ 
  font-family: 'Josefin Sans', serif !important;
  line-height:normal !important;
}


/*
|--------------------------------------------------------------------------
| GLOBALS
|--------------------------------------------------------------------------
*/

.bgColor-yellow{background-color: #f7931d;}
.bgColor-lightBlack{background-color:#777777;}
.bgColor-black-333{background-color:#333;}
.bgColor-black-000{background-color:#000;}
.bgColor-lightGray{background-color:#EDEDED;}

.color-white{color:#ffffff;}
.color-black{color:#000000;}
.color-yellow{color:#f7931d;}

.no-margin{margin: 0 !important;}
.no-margin-b{margin-bottom:0 !important;}
.no-margin-t{margin-top:0 !important;}

.m-t-150{margin-top:150px;}
.m-t-50{margin-top:50px;}
.m-tb-30{margin: 30px 0 !important;}
.m-t-20{margin-top: 20px !important;}
.m-tb-20{margin: 20px 0 !important;}
.m-t-15{margin-top:15px !important;}
.m-tb-10{margin: 10px 0 !important;}

.m-b-0{margin-bottom: 0 !important;}
.m-b-20{margin-bottom: 20px;}
.m-b-25{margin-bottom:25px;}
.m-b-10{margin-bottom: 10px;}

.p-lr-15{padding: 0 15px;}
.p-15-25{padding:15px 25px;}
.p-tb-75{padding:75px 0;}

.sm-p-tb-75{
  @media (min-width: 320px) and (max-width: 640px) {padding:75px 0;}
}

.border-b-15{border-bottom: 15px solid #f7931d;}
.border-t-1{border-top: 1px solid #ffffff;}
.border-1-white{border : 1px solid #ffffff;}
.border-1-black{border : 1px solid rgb(65, 65, 65);}


.font-25{font-size:25px;}

/*
|--------------------------------------------------------------------------
| CTA BUTTON
|--------------------------------------------------------------------------
*/

.cta-btn{
  display: inline-block;
  text-decoration:none;
  transition: all 0.65s ease-in-out;
  line-height: normal;
  
  &:hover{
    background-color: #EE8D2E;
    border:1px solid #EE8D2E;
    color: #fff;
    text-decoration:none;
  }

  @media (max-width: 768px) {
    background-color: #EE8D2E;
    border:none;
    color: #fff;
  }
}


/*
|--------------------------------------------------------------------------
| VERTICAL ALIGNMENT
|--------------------------------------------------------------------------
*/

.valign{
  display: flex;
  align-items: center;
  justify-content: left;
}


/*
|--------------------------------------------------------------------------
| OVERLAY
|--------------------------------------------------------------------------
*/

.overlay{
  width:100%;
  height:100%;
  background-color:#ffffff;
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  transition:all 0.65s ease-in-out;
}