

/* -- FOOTER -- */

	.footer {
		position:relative;
		color:#fff;
		background-color:#333;
		padding:0 0 0 0;

		h4{
			display:block;
		}

		p{
			color:#fff;
			display:block;
			font-family: 'letter-gothic-std', sans-serif;
			font-style: normal;
			font-size: 12px;
			letter-spacing: normal;
			line-height: 24px;
		}

		a{
			color:#fff;
			display:block;
			font-family: 'letter-gothic-std', sans-serif;
			font-style: normal;
			font-size: 12px;
			letter-spacing: normal;
			line-height: 24px;
			transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);

			&:hover{color:#f7931d;}	
		}

		.links-grid {
			display:inline-block;
			vertical-align:top;
			text-align:left;

			input {
				height:50px;
				padding:20px;
				background-color:transparent;
				color:#fff;
				border:1px solid #fff;
				border-right:none;
				display:inline-block;
				border-radius:0px;
				border-top-left-radius:3px;
				border-bottom-left-radius:3px;
				vertical-align:top;

				transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
			}

			input:focus {
				color:#fff;
				background-color:#222;
			}

			.subscribe-button {
				height:50px;
				width: 57px;
				padding:18px;
				color:#fff;
				background-color:#f7931d;
				border:1px solid #f7931d;
				border-left:none;
				display:inline-block;
				border-top-right-radius:3px;
				border-bottom-right-radius:3px;
		      	border-top-left-radius: 0px;
		  		border-bottom-left-radius: 0px;
				vertical-align:top;
				pointer:cursor;
				font-weight:500;
				font-family: 'letter-gothic-std', sans-serif;
				font-style: normal;
				font-size: 11px;
				line-height: 11px;
				color: #fff;
				letter-spacing:1px;

				transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
			}
			.subscribe-button:hover {
				background-color:#fff;
				border:1px solid #fff;
				padding:18px;
				color:#282828;
				font-weight:500;
				letter-spacing:1px;
			}
		}

		.links-grid.last {
			margin: 80px 0 80px 0;
		}

		.links-grid ::-webkit-input-placeholder {
			font-style: normal;
			font-size: 16px;
			letter-spacing: normal;
			line-height: 16px;
			color: #fff;
	      	font-weight:bold;
	      	padding:7px 0;
		}
	}
	 
	.footer-links {
		width:100%;
		max-width:1024px;
		margin:auto;
		left:0;
		right:0;
		padding:0 80px;
	}
	
	.links-grid a.social-icons {
		display:inline-block !important;
		width:30px;
		height:30px;
		background-size:30px 30px;
		background-position:center center;
		background-repeat:no-repeat;
		margin:20px 10px;
		opacity:.5;

		transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-o-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-ms-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-moz-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
	}
	.links-grid a.social-icons.first {
		margin:20px 10px 20px -10px;
		opacity:.5;

		transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-o-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-ms-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-moz-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
	}
	.links-grid a.social-icons:hover {
		opacity:1;
	}
	@media (max-width: 990px) {
		.links-grid {
			width:100%;
			margin:30px 0 0 0;
			text-align:center;
		}
		.links-grid.last {
			margin:30px 0 50px 0;
		}
	}
	.footer-info {
		border-top:1px #666 solid;
		display:block;
		padding:0;
		margin:0;
		background-color:#333;
		height:95px;
	}
	.copyright {
		float:left;
		height:94px;
		display:inline-block;
		padding:39px 50px;
		line-height:12px;
		border-right:1px #666 solid;
		text-transform:uppercase;
	}
	a.brave-people {
		float:right;
		height:94px;
		display:inline-block;
		padding:39px 50px;
		line-height:12px;
		border-left:1px #666 solid;
		text-transform:uppercase;

		transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-o-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-ms-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-moz-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
	}
	a.brave-people:hover {
		background-color:#f7931d;
      	color:#ffffff !important;
	}
	a.top-button {
		float:right;
		height:94px;
		width:94px;
		display:inline-block;
		background-image: url('');
		background-repeat:no-repeat;
		background-size: 39px 39px;
		background-position:center center;
		background-color:transparent;
		border-left:1px #666 solid;

		transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-o-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-ms-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-moz-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
		-webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
	}
	a.top-button:hover {
		background-color:#f7931d;
	}
	.footer-links {
		padding: 0 5%;
	}
	@media (max-width: 990px) {
		.footer-links {
			padding: 30px 5%;
		}
	}
	@media (max-width: 740px) {
		.copyright {
			float:left;
			height:94px;
			width:100%;
			border-right:0px #666 solid;
			border-bottom:1px #666 solid;
		}
		a.top-button {
			float:right;
			height:94px;
			width:25%;
			display:inline-block;
		}
		a.brave-people {
			float:right;
			height:94px;
			width:75%;
			border-left:0px #666 solid;
		}
		.footer-info {
			height:190px;
		}
	}