
#nav-main {
  display: block;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 12;
  text-align: center;
  padding: 0;
  background:none;

  transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
  -o-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
  -ms-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
  -moz-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);
  -webkit-transition: 0.9s cubic-bezier(0.18, 1, 0.21, 1);

  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);

  .nav-logo {
    width: 25%;
    height: 75px;
    margin: 0;
    padding: 24px;
    display:inline-block;
    vertical-align:top;
    text-align:left;
  }

  ul.nav-links {
    opacity:1;
  }
}